@import "../styles/responsive.css";
@import "tailwindcss";

:root {
  --foreground: #DEDAE3; /* Light text */
  --background: #181516; /* Dark background */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background-color: #181516;
}

body {
  background-image: url('/background-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
